*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
}

.container-header-logo-svg img{
    width: 150px;
}

.container-header-logo-svg{
    padding: 25px;
    display: inline-block;
    font: bold;
}

.container-header-logo-svg li{
    padding: 25px;
    display: inline-block;
    font: bold;
}

.container-header-logo-svg ul li{
    padding: 25px;
    display: inline-block;
    font: bold;
}

.container-header-logo div{
    padding: 60px;
}

.container-header-logo .texte1{
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
}

.container-header-logo .texte2{
    border: 1px solid transparent;
    padding:10px;
    border-radius: 7px;
    margin: 5px;
    background-color: white;
}

.container-header-logo .texte3{
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
    background-color: #800080;
    color: white;
}

.container-texte1{
    font-size: 39px;
    font-weight: 800;
    line-height: 59px;
    font-family: Axiforma, Arial, serif;
    font-variant-caps: normal;
    font-stretch: normal;

}

/* ::placeholder {
    font-size: 15px;
    padding: 5px;
    border-width: 15px;
} */

input{
    width: 320px;
    height: 50px;
    border-radius: 7px;
    border-color:none;
    margin-top: 20px;
}

.container-texto-formulario-botao input {
    width: 180px;
    height: 50px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 20px;
}

.container-texto-formulario-botao input:hover{
    background-color:  #800080;
}

.container-texto-formulario-botao-card1,.container-texto-formulario-botao-card2{
    display: inline-block;
    padding: 10px;
}

img{
    padding-right: 20px;
}

.container-header-app-icone{
    margin: 7px;
}


.container-header-app-icone{
    margin-top: 60px;
}

.container-header-app-icone div{
    display: inline-block;
    padding: 10px;
}

.container-header-app-icone1 img{
    width: 63px;
    height: 18px;
}


.container-header-app-icone2 img{
    width: 70px;
    height: 16px;
}

.conatainer-texte{
    margin-block-end: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center
}

.conatainer-texte h1{
    font-size: 15px;
}

.conatainer-texte{
    margin-top: 50px;
}

.container-redes-sociais div{
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
}

.container-clickup-3_0 div{
    margin: 20px;
    margin-right: 40px;
}

.container-clickup-3_0_body{
    background-color: black;
    border: 1px solid transparent;
    border-radius: 40px;

}
.container-clickup-3_0_texte2 p{
    line-height: 1.5; 
    margin-bottom: 10px;
    color: white;
}

.container-clickup-3_0_icone2 img{
    width: 637px;
    height: 422px;
}

.container-clickup-3_0_body, .container-clickup-3_0, .container-clickup-3_0_icone2{
    display: inline-block;
}

.container-clickup-3_0_icone2 img{
    margin-top: 20px;
}

.container-clickup-3_0_texto3, .container-clickup-3_0_texto_3_1{
    padding: 20px;
    color: white;
}

.container-clickup-3_0_texto_3_1{
    border: 1px solid transparent;
    background-color: #800080;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

/* .container-header, .container-header-logo, .container-header-logo-svg, .container-header-image{
    display: inline-block;
    padding: 40px;

} */

.container-header-image img{
    width: 637px;
    height: 422px;
}

.container-texto-formulario-divmaster, .container-imagem{
    display: inline-block;
    padding: 25px;
}
